footer {
    background: var(--primary-text); /* Gradient background */
    color: var(--primary-bg);
    padding: 0rem 2rem;
    text-align: center;
    /* box-shadow: 0 -4px 10px rgba(0, 0, 0, 0.3); subtle shadow to lift footer off the page */
    position: relative;
    z-index: -1;
    font-size: 3rem;
  }
  .footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  .footer-content p {
    display: flex;
    flex-wrap: wrap;
    margin: 10px 0;
    line-height: 1.5;
    font-size: 1.5rem;
    width: 60%;
  }

.footer-right
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: fit-content;
}

.footer-right p
{
    width: 100%;
}

.footer-right p a
{
    text-decoration: underline;
    font-size: 1.5rem;
    color: var(--primary-bg);
    margin: 0 5px;
}

.footer-right p a:hover
{
    color: var(--accent);
}

  .social-media {
    margin: 0px 0;
  }
  .social-media a {
    color: var(--accent);
    margin: 0 1.5rem;
    font-size: 3rem;
    transition: color 0.3s;
    height: fit-content;
  }
  .social-media a:hover {
    color: var(--accent); /* Highlight color for icons on hover */
  }
  /* .back-to-top {
    display: inline-block;
    margin-top: 20px;
    color: #f1f1f1;
    text-decoration: none;
    font-weight: bold;
    background-color: #e50914; 
    padding: 10px 15px;
    border-radius: 20px; 
    transition: background-color 0.3s, transform 0.3s;
  }
  .back-to-top:hover {
    background-color: #f62234; 
    text-decoration: none;
    transform: translateY(-3px);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2); 
  }

  .fa {
    margin-right: 8px;
  }
  @media (max-width: 768px) {
    .footer-content {
      padding: 20px;
    }
    .social-media {
      display: block;
      margin-bottom: 20px;
    }
    .social-media a {
      display: inline-block;
      margin: 5px;
    }
    .back-to-top {
      display: block;
      margin: 20px auto;
    }
  } */